/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
*
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
*
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap"); */
@import url("https://use.typekit.net/rsq7ovr.css");

:root {
  --green: #bfe2b4;
  --darkgreen: #89ba83;
  --red: #ffb3b3;
  --darkred: #f97676;
  --purple: #e6ccff;
  --darkpurple: #b499e0;
  --orange: #f5dab8;
  --darkorange: #d9a870;
  --blue: #add8e6;
  --darkblue: #679cc2;
  --black: #000;
  --white: #fff;
  /* old colors */
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "ff-uberhand-pro", sans-serif;
  font-weight: 300;
}

form {
  flex-grow: 1;
}

button {
  font-family: "ff-uberhand-pro", sans-serif;
  background-color: var(--red);
  border: none;
  color: var(--black);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid var(--black);
  display: flex;
  gap: var(--s);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 1vh;
}

button:hover {
  transition: fill 0.3s ease, background-color 0.3s ease;
  background-color: var(--darkred);
}

.u-heading-container {
  margin: var(--l);
  display: flex;
  gap: var(--m);
  align-items: center;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  transition: fill 0.3s ease, background-color 0.3s ease;
  color: var(--primary--dim);
}

.u-heading {
  font-weight: 700;
  font-size: 35px;
}

.u-backarrow {
  width: 50px;
  height: 50px;
  transition: fill 0.3s ease, background-color 0.3s ease;
  fill: var(--red);
}

.u-backarrow:hover {
  fill: var(--darkred);
}
