.Home-container {
  padding: calc(2 * var(--l));
  margin: 0;
  justify-content: center;
  width: auto;
  align-items: center;
  height: auto;
}

.Home-title {
  color: var(--red);
  font-weight: 400;
  font-size: 4vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Home-linkContainer {
  margin-left: var(--l);
  display: flex;
  gap: var(--m);
  flex-direction: column;
  align-items: center;
  margin-top: var(--l);
}

.Home-link,
.Home-link:visited {
  color: var(--black);
  text-decoration: none;
  display: inline-block;
}

.Home-link:hover {
  transition: fill 0.3s ease, background-color 0.3s ease;
  color: var(--white);
}

.Home-link.NavBar-login {
  opacity: 1;
  color: black;
}

.Home-link + .NavBar-link {
  margin-left: var(--m);
}

.Home-plate-container {
  width: 30%;
}

.Home-about-container {
  padding-top: 20px;
  display: flex;
  gap: var(--l);
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.Home-dorms-outline {
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: space-evenly;
  pointer-events: visiblePainted;
  fill: var(--red);
  transition: fill 0.3s ease, background-color 0.3s ease;
}

.Home-dorms-outline rect,
.Home-dorms-outline circle,
.Home-dorms-outline ellipse {
  pointer-events: none;
}
.Home-dorms-outline path,
.Home-dorms-outline polygon {
  pointer-events: all;
}

.Home-dorms-outline path:hover,
.Home-dorms-outline polygon:hover {
  pointer-events: all;
  transition: fill 0.3s ease, background-color 0.3s ease;
  fill: var(--darkred);
}

.Home-dorms-top-row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-block: 20px;

}

.Home-dorms-bottom-row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
}
