.Home-container {
  padding: var(--m) var(--m);
  margin: 0;
  justify-content: center;
  width: 100%;
}

.Home-title {
  color: var(--red);
  font-size: 48px;
}

.Home-linkContainer {
  margin-left: var(--l);
}

.Home-link,
.Home-link:visited {
  color: var(--black);
  opacity: 0.6;
  text-decoration: none;
}

.Home-link:hover {
  opacity: 0.8;
}

.Home-link.NavBar-login {
  opacity: 1;
  color: black;
}

.Home-link + .NavBar-link {
  margin-left: var(--m);
}

.Home-about {
  font-weight: 700;
  font-size: 35px;
}

.hr {
  margin: 0;
  width: 90%;
}
