.Maseeh-container {
  padding: var(--m) var(--m);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
}

.Maseeh-text {
  position: absolute;
  display: flex;
  color: var(--white);
  font-size: 2vw;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.Maseeh-circle {
  width: 60vh;
  height: 60vh;
  border-radius: 50%;
  border: 0.3vw solid var(--darkgrey);
  position: relative;
  overflow: hidden;
}

.Maseeh-inner-circle {
  width: 56vh;
  height: 56vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  /* border: 0.3vw solid var(--black); */
}

.Maseeh-quarter-circle {
  position: absolute;
  background-color: var(--red);
  display: flex;
}

.Maseeh-top-left {
  top: 0%;
  left: 0%;
  width: 48%;
  height: 43%;
  border-top-left-radius: 100%;
  background-color: var(--red);
}

.Maseeh-top-left:hover {
  transition: fill 0.3s ease, background-color 0.3s ease;
  background-color: var(--darkred);
}

.Maseeh-bottom-left {
  bottom: -1%;
  left: -6%;
  width: 60%;
  height: 48%;
  border-top-left-radius: 100%;
  background-color: var(--green);
  transform: rotate(270deg);
  font-size: 4vw;
  text-align: center;
}

.Maseeh-bottom-left:hover {
  transition: fill 0.3s ease, background-color 0.3s ease;
  background-color: var(--darkgreen);
}

.Maseeh-text-bottom-left {
  transform: rotate(90deg);
}

.Maseeh-top-right {
  top: 0%;
  right: -6%;
  width: 60%;
  height: 48%;
  border-top-left-radius: 100%;
  background-color: var(--orange);
  transform: rotate(90deg);
}

.Maseeh-top-right:hover {
  transition: fill 0.3s ease, background-color 0.3s ease;
  background-color: var(--darkorange);
}

.Maseeh-text-top-right {
  transform: rotate(-90deg);
}

.Maseeh-bottom-right {
  bottom: -1%;
  right: 0%;
  width: 48%;
  height: 43%;
  border-top-left-radius: 100%;
  background-color: var(--purple);
  transform: rotate(180deg);
}

.Maseeh-bottom-right:hover {
  transition: fill 0.3s ease, background-color 0.3s ease;
  background-color: var(--darkpurple);
}

.Maseeh-text-bottom-right {
  transform: rotate(180deg);
}

.Maseeh-box-button {
  text-decoration: none;
  display: inline-block;
}

.Maseeh-box-button:hover {
  transition: fill 0.3s ease, background-color 0.3s ease;
  background-color: var(--darkred);
}

.Maseeh-dairy-circle {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  border: 0.3vw solid var(--darkgrey);
  position: relative;
  top: 0;
  right: 0;
  transform: translate(30%, -60%);
  overflow: hidden;
}

.Maseeh-dairy-inner-circle {
  width: 17vh;
  height: 17vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: var(--blue);
  display: flex;
}

.Maseeh-dairy-inner-circle:hover {
  transition: fill 0.3s ease, background-color 0.3s ease;
  background-color: var(--darkblue);
}

.Maseeh-list-container {
  display: flex;
}
