.Maseeh-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center all items */
  align-items: center;
  gap: 30px;
  margin: 20px auto;
  width: auto;
  height: auto;
}

.Maseeh-container > * {
  min-width: 200px; /* Allows shrinking */
}

/* Moves second element to the second row ONLY when wrapped */
@media (max-width: 700px) {
  /* Adjust breakpoint as needed */
  .Maseeh-container {
    flex-direction: column;
  }

  .Maseeh-container > * {
    flex-basis: 100%; /* Each takes full row when wrapped */
  }

  .Maseeh-container > *:nth-child(2) {
    order: -1; /* Pushes it to the second row */
  }
}

.Maseeh-text {
  position: absolute;
  display: flex;
  color: var(--white);
  font-size: 2vw;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* text-align: center; */
}

.Maseeh-box-button {
  text-decoration: none;
  display: inline-block;
}

.Maseeh-box-button:hover {
  transition: fill 0.3s ease, background-color 0.3s ease;
  background-color: var(--darkred);
}

.Maseeh-food-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 20%;
  max-width: 300px;
  min-width: 250px;
  text-align: left;
}

.Maseeh-left-list {
  flex: 0 0 auto;
  margin-right: 2rem; /* Space between the list and the circles */
  /* width: 20%; */
  height: auto;
  /* max-height: 90%; */
  padding: 1rem;
  border-radius: 0.5rem;
}
.Maseeh-list-text {
  position: absolute;
  display: flex;
  color: var(--black);
  font-size: 2vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Maseeh-select {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #000;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 30px;
  padding: 15px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid var(--black);
}

.Maseeh-grid {
  overflow: hidden;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  transform-origin: center center;
  transform: scale(1);
  position: relative;
}

.Maseeh-plate-wrapper {
  width: auto;
  height: auto;
  overflow: hidden;
}

.Maseeh-text {
  position: absolute;
  display: flex;
  color: var(--white);
  font-size: 2vw;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
