.Profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.Profile-details {
  text-align: center;
  justify-content: center;
  max-width: 50vw;
}

.Profile-title {
  margin-bottom: 50px;
}

.Profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.Profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Profile-pencil {
  margin-left: 0.5vw;
  margin-bottom: 2vh;
  width: 25px;
  height: 25px;
  transition: fill 0.3s ease, background-color 0.3s ease;
  fill: var(--red);
}

.Profile-pencil:hover {
  fill: var(--darkred);
}

.Profile-bio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Profile-bio-edit {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: var(--red);
  margin-right: 10%;
}

.Profile-bio-input {
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--red);
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
}

.Profile-bio-edit button {
  padding: 10px 20px;
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Profile-bio-editor button:hover {
  background-color: var(--red);
}

.Profile-bio {
  word-break: break-all;
  overflow: auto;
  max-width: 25vw;
  height: auto;
}
.Profile-full-details {
  /* display: inline-flex; */
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  row-gap: 50px;
  column-gap: 2rem;
  justify-content: center;
}

.Profile-vertical-bar {
  border-left: 0.5vw solid var(--red);
  border-radius: 1vw;
  align-items: center;
  opacity: 0.8;
}

.Profile-preferences-section {
  display: left;
  margin: 0 1rem;
  /*  */
}

.Profile-preferences-big-container {
  display: flex;
  flex-direction: column;
}
.Profile-preferences-container {
  display: flex;
  flex-direction: row;
}

.Profile-preferences-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.Profile-preferences-subheading {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  accent-color: var(--red);
}

/* attempting to ensure doesn't change color on hover */
input[type="checkbox"]:hover {
  accent-color: var(--red);
}
