.Profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.Profile-details {
  text-align: center;
}

.Profile-title {
  margin-bottom: 50px;
}

.Profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.Profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* .Profile-logoutButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Profile-logoutButton:hover {
  background-color: #0056b3;
} */

.Profile-pencil {
  width: 50px;
  height: 50px;
  transition: fill 0.3s ease, background-color 0.3s ease;
  fill: var(--red);
}

.Profile-pencil:hover {
  fill: var(--darkred);
}

.Profile-bio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Profile-bio-edit {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: var(--red);
  margin-right: 10%;
}

.Profile-bio-input {
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--red);
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
  font-family: "ff-uberhand-pro", sans-serif;
}

.Profile-bio-edit button {
  padding: 10px 20px;
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-family: "ff-uberhand-pro", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Profile-bio-editor button:hover {
  background-color: var(--red);
  font-family: "ff-uberhand-pro", sans-serif;
}

.Profile-full-details {
  /* display: inline-flex; */
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Profile-vertical-bar {
  border-left: 0.5vw solid var(--red);
  border-radius: 1vw;
  margin: 0 2rem;
  align-items: center;
  opacity: 0.8;
}

.Profile-preferences-section {
  display: left;
  margin: 0 1rem;
  /*  */
}

.Profile-preferences-big-container {
  display: flex;
  flex-direction: column;
}
.Profile-preferences-container {
  display: flex;
  flex-direction: row;
}

.Profile-preferences-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.Profile-preferences-subheading {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  accent-color: var(--red);
}

/* attempting to ensure doesn't change color on hover */
input[type="checkbox"]:hover {
  accent-color: var(--red);
}

