.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--red);
  display: flex;
  justify-content: space-between; /* Spread left and right content */
  align-items: center; /* Vertically center the items */
}

.NavBar-leftcontent {
  display: flex; /* Make the left content a flex container to align items */
  gap: var(--m); /* Add spacing between links */
}

.NavBar-rightcontent {
  display: flex; /* Flex container to handle login/logout button */
  align-items: center; /* Vertically center button */
  border-radius: 1vh;
}

.NavBar-link {
  color: var(--black);
  opacity: 0.6;
  text-decoration: none;
  position: relative;
}

.NavBar-link:hover {
  transition: fill 0.5s ease, background-color 0.3s ease;
  opacity: 0.8;
  color: var(--white);
}

.NavBar-link::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--white);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  transform: scale(0);
  transform-origin: center;
}

.NavBar-link:hover::after {
  opacity: 1;
  color: var(--white);
  transform: scale(1);
}

.NavBar-link.NavBar-login {
  opacity: 1;
  color: black;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m); /* Spacing between links */
}
