.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--red);
  display: flex;
  justify-content: space-between; /* Spread left and right content */
  align-items: center; /* Vertically center the items */
}

.NavBar-leftcontent {
  display: flex; /* Make the left content a flex container to align items */
  gap: var(--m); /* Add spacing between links */
}

.NavBar-rightcontent {
  display: flex; /* Flex container to handle login/logout button */
  align-items: center; /* Vertically center button */
}

.NavBar-link {
  color: var(--black);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  transition: fill 0.3s ease, background-color 0.3s ease;
  opacity: 0.8;
  color: var(--white);
}

.NavBar-link.NavBar-login {
  opacity: 1;
  color: black;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m); /* Spacing between links */
}
