.NavBar-container {
  padding: var(--s) var(--l);
  background-color: var(--red);
  display: flex;
  justify-content: space-between; /* Spread left and right content */
  align-items: center; /* Vertically center the items */
  font-weight: 400;
}

.NavBar-leftcontent {
  display: flex; /* Make the left content a flex container to align items */
  gap: var(--m); /* Add spacing between links */
}

.NavBar-rightcontent {
  display: flex; /* Flex container to handle login/logout button */
  align-items: center; /* Vertically center button */
  border-radius: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.NavBar-link {
  color: var(--black);
  text-decoration: none;
  position: relative;
}

.NavBar-link:hover {
  transition: fill 0.5s ease, background-color 0.3s ease;
  opacity: 0.8;
  color: var(--white);
}

.NavBar-link::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--white);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  transform: scale(0);
  transform-origin: center;
}

.NavBar-link:hover::after {
  opacity: 1;
  color: var(--white);
  transform: scale(1);
}

.NavBar-link.NavBar-login {
  opacity: 1;
  color: black;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m); /* Spacing between links */
}

.NavBar-button {
  font-family: "ff-uberhand-pro", sans-serif;
  background-color: var(--red);
  border: none;
  color: var(--black);
  padding: 2% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  border: 2px solid var(--black);
  display: flex;
  gap: var(--s);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 1vh;
}

.NavBar-button:hover {
  transition: fill 0.3s ease, background-color 0.3s ease;
  background-color: var(--darkred);
  color: var(--white);
  border-color: var(--white);
}

.NavBar-text {
  font-size: 1.25em;
  color: (--black);
}
